<div class="jumbotron">
<h1>Welcome to Your Library</h1>
<% if user_signed_in? %>
Welcome to Your Library! Add all the items you own or want and they will be collected in one simple location. Organize, share, send, or check which items are missing from your series or collections.
<% else %>
<p>
<%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>
<% end %>
</div>
